<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/user/css/login.css"/>
</head>
<body>
<div class="card">
  <div class="brand">
    <img class="logo" alt="coupang-eats" src="/images/coupang-eats-logo.png">
  </div>
  <form action="/api/auth/login" method="POST">
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
    <div class="login-input">
      <label for="email">이메일</label>
      <input type="email" id="email" name="email" placeholder="you@example.com" required>
    </div>
    <div class="login-input">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" placeholder="••••••••" required>
    </div>
    <button class="btn" type="submit">로그인</button>
  </form>
  <div class="links">
    계정이 없으신가요? <a href="/signup">회원가입</a>
  </div>
</div>
</body>
</html>